
<div class="chapter" id="{{ course.id }}-{{ chapter.id }}">
	
	<div class="header" (click)="toggle()">
		{{ chapter.title }}
		<span class="list-tag" [ngClass]="(visible) ? 'list-open-tag' : 'list-closed-tag'"></span>
	</div>

	<div *ngIf="!visible" [@slideInOut] (click)="toggle();">
		<div class="row" [innerHTML]="chapter.description"></div>
	</div>

	<div *ngIf="visible" [@slideInOut]>
		<page *ngFor="let page of chapter.pages" [course]="course" [chapter]="chapter" [page]="page"></page>
	</div>

</div>