
<div class="back-links" *ngIf="course">
	<a routerLink="/courses" href="/courses" title="Courses Index">Courses</a>
	&rsaquo;
	<a routerLink="/courses/{{ course.id }}" href="/courses/{{ course.id }}" title="{{ course.title }}">{{ course.title }}</a>
	&rsaquo;
	<a routerLink="/courses/{{ course.id }}/{{ chapter.id }}" href="/courses/{{ course.id }}/{{ chapter.id }}" title="{{ chapter.title }}">{{ chapter.title }}</a>
</div>

<ul class="list" *ngIf="page">
	<li class="header">{{ page.title }}</li>
	<li [innerHtml]="page.content"></li>
</ul>
